.main {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    margin-bottom: 93px;
    position: relative;

    @media (max-width: 768px) {
        padding: 0 15px;
    }
}


