.block {
	width: calc(50% - 16px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 16px 0;
	border-top: 1px solid var(--Grey, #646464);

	&:nth-of-type(n + 3) {
		border-bottom: 1px solid var(--Grey, #646464);
	}

	&_title {
		color: var(--Orange, #ff5d17);
		text-align: center;
		font-feature-settings: "liga" off, "clig" off;
		font-size: var(--fs-28);
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
	}

	p {
		color: var(--Grey, #646464);
		text-align: center;
		font-size: var(--fs-16);
		font-weight: 600;
		line-height: 24px;
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}
